/* Comentarios en CSS se hacen así por si se me olvida*/

body { 
    margin: 0; 
    font-family: Arial, sans-serif; 
    background: #ffffff; 
    color: #333; 
}

#titulo_principal {
    font-size: 40px;
    font-style: italic;
}

.del_menu {
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    padding: 10px;
    text-align: center;
}

#contacto {
    max-height: 20px;

}

#elige{
    font-size: 33px;
    font-style: italic;
}

.nav { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 30px; 
    background: #fff; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.nav .logo { 
    width: auto; 
    max-width: 150px;
    margin-right: 25px;
    border-radius: 20%;
}

.nav h1 span { 
    color: teal; 
}

.nav ul { 
    list-style: none; 
    display: flex; 
    gap: 20px; 
}

.nav ul li a { 
    text-decoration: none; 
    color: #333; 
}

.hero { display: flex; 
    align-items: center; 
    justify-content: space-around; 
    padding: 50px 20px; 
    background-image: url(mundo_digital.webp);
    background-size: cover;
    background-position: center;
}

.hero .vr-img { 
    width: 300px; 
    max-width: 50%; 
    border-radius: 5% ;
}

.hero-text { 
    max-width: 50%; 
    color: #ffffff;
    text-align: center; 
}

.hero-text h2 { 
    font-size: 2rem; 
    margin-bottom: 10px; 
}

.packs { 
    text-align: center; 
    padding: 40px 20px; 
}

.pack-container { 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px; 
}

.pack { 
    background: #fff; 
    padding: 30px; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.5); 
    transform: scale(1.1);
    transition: transform 0.3s ease; 
    width: 280px; 

}

.pack:hover { 
    transform: scale(1.05); 
}

.btn-wsp { 
    display: inline-block; 
    margin-top: 30px; 
    padding: 10px 20px; 
    background: #25d366; 
    color: white; 
    text-decoration: none; 
    border-radius: 20px; 
    font-weight: bold; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.2); 
}

footer { 
    text-align: center; 
    padding: 20px; 
    background: #222; 
    color: white; 
    margin-top: 40px; 
}

footer .social a { 
    display: inline-block; 
    margin: 5px; 
    color: #ccc; 
    text-decoration: none; }

footer .social a:hover { 
    color: white; }