/* Comentarios en CSS se hacen así por si se me olvida*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: sans-serif; 
    background: #fff;  
}

.titulo_principal {
    color: #ffffff;
    font-size: 30px;
    font-style: bold;
}
.titulo_principal span {
    color: #36a7e9d3;
}
.menu-icon {
    display: none;
}

.del_menu {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.nav { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 15px 40px; 
    background-color: #0419316b; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 25px 25px;
}



.nav ul { 
    list-style: none; 
    display: flex;  
    gap: 10px;
}

.nav ul li a { 
    text-decoration: none; 
    color: #ffffff;
    align-items: end; 
}

.nav a:hover { 
    color: #36a7e9d3;
    transform: scale(1.3);
    transition-duration: 0.50s;
}

.hero { 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    padding: 50px 20px; 
    background-size: cover;
    background-position: center;
}
.img-main {
    background-image: url(images/mundo_digital.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.hero-text { 
    max-width: 50%; 
    color: #fff;
    text-align: center; 
}

.hero-text h2 { 
    font-size: 2rem; 
    margin-bottom: 10px; 
}

.packs { 
    text-align: center; 
    padding: 40px 20px; 
}

.pack-container { 
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px;
}

.pack { 
    padding: 30px; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.5); 
    width: 280px; 
    background-color: #ffffff00; 
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease;
}

#elige{
    font-size: 50px;
    margin-top: 20px;
    color: #fff;
}
.btn-wsp { 
    display: inline-block; 
    margin-top: 50px; 
    padding: 10px 20px; 
    background: #25d366; 
    color: white; 
    font-style: italic;
    text-decoration: none; 
    font-size: larger;
    border-radius: 20px;  
    box-shadow: 0 3px 6px rgba(0,0,0,0.2); 
}
.btn-wsp:hover { 
    background: #128C7E; 
    color: white; 
    transform: scale(1.1);
    transition-duration: 0.3s; 
}
footer { 
    text-align: center; 
    padding: 20px; 
    background: #222; 
    color: white; 
    margin: 0; 
}

footer .social a { 
    display: inline-block; 
    margin: 5px; 
    color: #ccc; 
    text-decoration: none; }
    
footer .social a:hover { 
    color: white; }
    

@media (max-width: 768px) {
    .menu-icon {
        width: 30px;
        height: 30px;
        background-color: #1ea099;
        align-content: center;
        margin-top: 45px;
        margin-right: 10%;
        align-items: center;
    }
    .menu-icon:hover {
        background-color: #0f7a8c;
    }
    .nav {
        flex-direction: flex-start;
        align-items: flex-start;
        padding: 10px 10px;
    }
    .nav .logo {
        max-width: 80px;
        margin-bottom: 10px;
        align-items: center;
        margin-left: 20px;
        margin-top: 4.50% ;
    }
    .nav ul li a {
        display: none;
    }
    .del_menu {
        display: none;
    }
        .hero {
        padding: 30px 10px;
        text-align: center;
    }

}
